[submodule "link/.vim/autoload/typescript-vim"]
	path = link/.vim/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "link/.vim/autoload/vim-js-pretty-template"]
	path = link/.vim/vim-js-pretty-template
	url = https://github.com/Quramy/vim-js-pretty-template.git
[submodule "link/.vim/autoload/vim-sensible"]
	path = link/.vim/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "link/.vim/autoload/editorconfig-vim"]
	path = link/.vim/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "link/.vim/autoload/kotlin-vim"]
  path = link/.vim/kotlin-vim
  url = https://github.com/udalov/kotlin-vim.git
[submodule "link/.vim/autoload/vim-terraform"]
	path = link/.vim/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
